.navbar {
  background-color: rgb(60, 73, 141);
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar #link {
  color: aliceblue;
  text-decoration: none;
  padding: 20px;
}